@model IEnumerable<dmquyettien.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>danh sách sản phẩm</h2>

<p>
    <input type="text" placeholder="search..." />
    <a href="@Url.Action("Create")" class="btn btn-primary">tạo mới sản phẩm</a>
</p>
<table id="bangsanpham"class="table table-hover">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá góp
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td>@item.GiaBan.ToString("NO")</td>
                <td>
                    @item.GiaGoc.ToString("NO")
        </td>
        <td>
            @item.GiaGop.ToString("NO")
        </td>
        <td>
            @item.SoLuongTon.ToString("NO")
        </td>
        <td>
            @item.LoaiSanPham.TenLoai
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id=item.id})" class="btn btn-success">Sửa</a>
            <a href="@Url.Action("Details", new {id=item.id})" class="btn btn-primary">Xem</a>
            <a href="@Url.Action("Delete", new {id=item.id})" class="btn btn-danger">Xóa</a>
        </td>
    </tr>
        }
    </tbody>
</table>

@section scripts{
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#bangsanpham').DataTable();
    });
</script>
}
